<header class="header">
  <nav class="nav">
    <ul class="nav-links">
      <li class="nav-links__item">
        <a {% if page.url == "/" %} class="nav-link nav-link--active" {% else %} class="nav-link"{% endif %} href="/">Blog</a>
      </li>
      <li class="nav-links__item">
        <a {% if page.url == "/projects/" %} class="nav-link nav-link--active" {% else %} class="nav-link"{% endif %} href="/projects/">Projects</a>
      </li>
      <li class="nav-links__item">
        <a {% if page.url == "/about/" %} class="nav-link nav-link--active" {% else %} class="nav-link"{% endif %} href="/about/">About</a>
      </li>
    </ul>
  </nav>
</header>

