body {
  font-size: 16px;
  font-family: "Fira Mono", monospace;
  font-style: normal;
  background-color: snow;
  margin: 0;
}

a {
  color: black;
}

a:hover {
  color: snow;
  background-color: black;
}

.main-container {
  margin: 0px auto;
  max-width: 700px;
}

.nav {
  box-sizing: border-box;
  font-size: 1.1rem;
  margin: 0;
  padding: 8px 0px;
  border-bottom: 2px dotted black;
}

.nav-links {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links__item {
  display: inline;
  margin: 8px 24px 8px 0px;
}

.post-list {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list__item {
  margin-bottom: 0.25rem;
}

.post__date {
  font-style: italic;
  margin: 2rem 0;
}
