---
---

@import "minima";

.site-header {
  background-color:  #333;
}

.site-title {
  color: lemonchiffon;

  &:hover, &:visited {
    color: lemonchiffon;
  }
}

.site-nav {
  .page-link {
    color: lemonchiffon;
  }

  @include media-query($on-palm) {
    .page-link {
      color: black;
    }
  }
}

.site-footer {
  background-color: #f8f8f8;
}
